/*
Tipo de fuente: font-family: 'Inter', sans-serif;
Grosor de la fuente: font-weight: Light 300, Regular 400, Medium 500, Bold 700 , Black 900
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62, 5%;
}

/*****HEADER*/
header {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
}

header a img {
    width: 7rem;
}


main {
    font-family: 'Inter', sans-serif;
    display: grid;
    width: 100%;
    height: 80vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.container-main-1 {
    background-image: url(../assets/img/fondo-principal.jpg);
    background-size: cover;
    grid-column: 1 / 7;
    grid-row: 1 / 9;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);



}

.barra-negra-pagina-principal {
    background-color: black;
    grid-column: 1 / 4;
    grid-row: 7 / 11;
    order: 1;
}

/*****NAVBAR*/
.navbar-bottstrap {
    display: none;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 900;
}

.container-main-1 nav {

    grid-column: 1 / 2;
    grid-row: 1 / 7;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    margin-bottom: 0.3rem;
}

.contenedor-links {

    text-align: left;
    height: 2.5rem;
    background-color: rgb(226, 226, 226);
    border: 0.2rem solid black;
    border-radius: 0 30px 30px 0;
    padding: 0.5rem 2rem;
    box-shadow: 0.5rem 0.5rem black;
    padding: 0;
    padding-left: 5%;
    list-style-type: none;

}

.contenedor-links a {
    color: black;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.7rem;
}


.ancho-1 {
    width: 70%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.ancho-2 {
    width: 80%;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.ancho-3 {
    width: 90%;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.ancho-4 {
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.container-main-1 h1 {

    line-height: 5.2rem;
    grid-column: 1 / 3;
    grid-row: 7 / 11;
    order: 2;
    text-align: center;
    font-weight: 900;
    font-size: 4.5rem;
    color: white;
    align-self: center;
    text-shadow: rgb(0, 0, 0) 1px 1px 5px;

}

.container-main-1 h1 span {
    font-size: 7rem;
}


.container-main-1 img {

    height: 95%;
    grid-column: 2 / 4;
    grid-row: 1 / 11;
    order: 1;
    justify-self: right;
    align-self: center;
    margin-right: 15%;
}



.container-main-2 {
    background-color: white;
    width: 100%;
    height: 100%;
    grid-column: 1 / 7;
    grid-row: 9 / 11;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;

    align-items: center;
}

.container-main-2 img {

    width: 50%;
    justify-self: center;

}

.imagen-mini-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.imagen-mini-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.imagen-mini-3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.imagen-mini-4 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.imagen-mini-5 {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
}

.imagen-mini-6 {
    grid-column: 6 / 7;
    grid-row: 1 / 2;
}

/*****CONTACTO*******/
.container-navbar-paginas {
    grid-column: 1 / 7;
    grid-row: 1 / 2;

}

.container-links {
    background-color: black;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

    list-style-type: none;
    margin-top: 0.5%;
}

.container-links a {
    color: white;
    text-decoration: none;
    font-weight: 900;

}

.bloque-contacto {
    height: 100%;
    grid-column: 1 / 7;
    grid-row: 2 / 11;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.bloque-contacto .logo-solo {
    width: 90%;
    justify-self: center;
    align-self: center;
    grid-column: 1 / 3;
    grid-row: 2 / 5;
    margin-bottom: 4rem;

}

.barra-negra-pagina-principal-contacto {
    background-color: black;
    grid-column: 1 / 7;
    grid-row: 5 / 8;
    order: 0;
}

.bloque-contacto h2 {
    justify-self: center;
    align-self: center;
    color: white;
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}

.iconos-redes {
    width: 100%;
    justify-self: center;
    grid-column: 1 / 3;
    grid-row: 6 / 8;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;

    align-items: center;

}

.iconos-redes a {
    justify-self: center;
}

.iconos-redes a img {
    width: 5rem;
}


.contenedor-para-formulario {
    margin-top: -1%;
    background-color: white;
    height: 98%;
    width: 90%;
    border: 0.4rem solid black;
    grid-column: 3 / 7;
    grid-row: 1 / 11;

}

.contenedor-fieldset {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    justify-content: center;
    align-items: center;
}


fieldset {
    border: 0;
    text-align: center;
}



form p {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    padding: 0.2rem;
    margin: 0;
}

input {
    background-color: black;
    color: white;
    width: 50%;
    height: 1.5rem;

}

.input-mensaje {
    height: 80px;

}

.input-submit {
    color: white;

}

legend {
    grid-column: 1 /2;
    grid-row: 1 / 2;
    font-weight: 900;
    font-size: 3.5rem;
    text-align: center;
}

.label-nombre {

    grid-column: 1 /2;
    grid-row: 2 / 3;
}

.label-email {
    grid-column: 1 /2;
    grid-row: 3 / 4;
}

.label-mensaje {
    grid-column: 1 /2;
    grid-row: 4 / 6;
}

.label-enviar {

    grid-column: 1 /2;
    grid-row: 6 / 7;
    align-self: flex-start;
    justify-self: center;
    width: 50%;

}

/*****GIFTCARD*/
.contenedor-general-tarjeta {
    grid-column: 1 /7;
    grid-row: 2 / 7;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

}

.imagen-tarjeta-elegida {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
}

.contenedor-derecho-tarjeta {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
}

.contenedor-general-tarjeta img {
    width: 50%;
}

.contenedor-2-tarjeta {
    grid-column: 1 /7;
    grid-row: 7 / 11;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.contenedor-2-tarjeta img {
    width: 50%;
}

.contenedor-tarjetas {
    background-color: black;
    height: 8rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

/*****NOSOTROS*/
.container-article-nosotros {
    grid-column: 1 / 7;
    grid-row: 2 / 11;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.container-article-nosotros h2 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
    align-self: center;
}

.container-article-nosotros p {
    font-size: 1.8rem;
    text-align: left;
    padding: 0 1rem;
}

.parrafo1 {
    grid-column: 4 / 7;
    grid-row: 1 / 2;
    align-self: center;
}

.parrafo2 {
    grid-column: 4 / 7;
    grid-row: 2 / 3;
}

.imagenes-article {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.imagenes-article img {
    width: 150px;
}

/*****PRODUCTOS*/
.section-productos {
    grid-column: 1 / 7;
    grid-row: 2 / 9;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    color: white;
}

.barra-negra-pagina-productos {
    height: 70%;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    background-color: black;
    order: 0;
}

.lista-caracteristicas {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}

.imagen-catalogo {
    width: 60%;
    justify-self: center;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.consejo-producto {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    justify-self: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 2rem;
    order: 1;

}

/*****FOOTER*/
footer {

    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100vw;
    font-size: 0.5rem;

}

footer img {
    height: 75%;

    padding-left: 2%;
    height: 50%;
}

footer p {
    color: white;
    padding-right: 2%;
}

@media (max-width:1025px) {

    /*****INDEX*/
    .container-main-1 img {
        justify-self: right;
        margin-right: 5%;
    }

    .container-main-1 h1 {
        font-size: 3rem;
        text-align: left;
        margin-left: 2%;
    }

    .container-main-2 img {

        width: 60%;

    }

    /*****CONTACTO*/
    .iconos-redes a img {
        width: 4rem;
    }

    .bloque-contacto h2 {

        margin-top: 10%;
    }

    .bloque-contacto .logo-solo {
        margin-bottom: 5rem;

    }

}

@media (max-width:769px) {

    /*****INDEX*/
    .container-main-1 img {

        margin-right: 3%;
    }

    .container-main-1 h1 {
        font-size: 2rem;
        text-align: left;
        margin-left: 2%;
    }

    .container-main-1 h1 span {
        font-size: 8rem;

    }

    .contenedor-links {
        text-align: left;

    }

    .contenedor-links a {
        font-size: 1.2rem;
        padding-left: 2%;
    }

    .container-main-2 img {

        width: 75%;

    }

    /*****CONTACTO*/
    .iconos-redes a img {
        width: 2.5rem;
    }

    .bloque-contacto h2 {
        font-size: 1.2rem;
        margin-top: 15%;
    }

    legend {

        font-size: 3rem;

    }

    form p {

        font-size: 1.5rem;

    }

    .label-enviar {

        grid-column: 1 /2;
        grid-row: 6 / 7;
        align-self: center;


    }
}

@media (max-width:426px) {

    /*****INDEX*/
    .container-main-1 img {
        justify-self: center;
        align-self: center;

        height: 90%;
        grid-column: 1 / 7;
        grid-row: 1 / 11;
        margin: 0;

    }

    .container-main-1 h1 {

        line-height: 3rem;
        grid-column: 1 / 7;
        grid-row: 7/ 11;
        text-align: center;


    }

    .container-main-1 h1 span {
        font-size: 5.5rem;
    }

    footer p {
        margin: 0;
    }

    footer img {
        height: 40%;
    }

    .container-main-1 nav {
        display: none;
    }

    header {
        background-color: black;

    }

    .logo-header {

        display: none;
    }

    .navbar-bottstrap {
        display: flex;
    }

    .navbar-brand img {
        width: 4.5rem;
    }

    /*****CONTACTO*/
    .contenedor-para-formulario {
        margin: -2.5rem 1rem 1rem 1rem;
        padding-top: 1rem;
        justify-self: center;
        grid-column: 1 / 7;
        grid-row: 1 / 7;
    }

    .bloque-contacto .logo-solo {
        display: none;
    }

    .container-navbar-paginas {
        display: NONE;
    }

    .barra-negra-pagina-principal-contacto {
        grid-column: 1 / 7;
        grid-row: 5 / 9;
        margin-bottom: 1rem;

    }

    legend {

        font-size: 2rem;
        text-align: center;

    }

    form p {

        font-size: 1rem;

    }

    .bloque-contacto h2 {

        grid-column: 1 / 7;
        grid-row: 6 / 7;
    }

    .iconos-redes {
        width: 100%;
        justify-self: center;
        grid-column: 1 / 7;
        grid-row: 7 / 8;
    }

    input {
        font-size: 0.6rem;
    }

}

@media (max-width:376px) {

    /*****INDEX*/
    .container-main-1 h1 span {
        font-size: 4.5rem;
    }

    .container-main-1 img {
        height: 80%;
    }
}

@media (max-width:321px) {
    .container-main-1 img {


        height: 65%;
        grid-column: 1 / 7;
        grid-row: 1 / 11;
        margin: 0;

    }

    main {

        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }

    .container-main-1 {

        grid-column: 1 / 7;
        grid-row: 1 / 11;
        order: 1;
    }

    .container-main-2 {

        grid-column: 1 / 7;
        grid-row: 11 / 12;
        order: 1;
    }

    .container-main-2 img {

        width: 60%;


    }

    .container-main-1 h1 {


        grid-column: 1 / 7;
        grid-row: 8/ 11;
    }

    .container-main-1 h1 span {
        font-size: 4rem;

    }

    .fondo-negro-index {
        background-color: black;
        grid-column: 1 / 7;
        grid-row: 10/ 13;
        order: 0;
    }

    /*****CONTACTO*/
    .bloque-contacto {

        grid-column: 1 / 7;
        grid-row: 2 / 13;

    }

    .barra-negra-pagina-principal-contacto {
        grid-column: 1 / 7;
        grid-row: 5 / 9;
        margin-bottom: 1rem;

    }
}